<ul class="list-group">
  <li
    class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
  >
    <div class="d-flex align-items-center">
      <material-button
        class="btn-icon-only btn-rounded mb-0 me-3 d-flex align-items-center justify-content-center"
        color="danger"
        size="sm"
        variant="outline"
      >
        <i aria-hidden="true" class="fas fa-arrow-down"></i>
      </material-button>
      <div class="d-flex flex-column">
        <h6 class="mb-1 text-dark text-sm">Netflix</h6>
        <span class="text-xs">27 March 2020, at 12:30 PM</span>
      </div>
    </div>
    <div
      class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold"
    >
      - $ 2,500
    </div>
  </li>
  <li
    class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
  >
    <div class="d-flex align-items-center">
      <material-button
        class="btn-icon-only btn-rounded mb-0 me-3 d-flex align-items-center justify-content-center"
        color="success"
        size="sm"
        variant="outline"
      >
        <i aria-hidden="true" class="fas fa-arrow-up"></i>
      </material-button>
      <div class="d-flex flex-column">
        <h6 class="mb-1 text-dark text-sm">Apple</h6>
        <span class="text-xs">27 March 2020, at 04:30 AM</span>
      </div>
    </div>
    <div
      class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold"
    >
      + $ 2,000
    </div>
  </li>
</ul>