<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="dataTable-bottom">
  <div class="dataTable-info">Showing 11 to 15 of 57 entries</div>
  <nav class="dataTable-pagination">
    <ul class="dataTable-pagination-list">
      <li class="pager"><a href="#" data-page="2">‹</a></li>
      <li class=""><a href="#" data-page="1">1</a></li>
      <li class=""><a href="#" data-page="2">2</a></li>
      <li class="active"><a href="#" data-page="3">3</a></li>
      <li class=""><a href="#" data-page="4">4</a></li>
      <li class=""><a href="#" data-page="5">5</a></li>
      <li class=""><a href="#" data-page="6">6</a></li>
      <li class=""><a href="#" data-page="7">7</a></li>
      <li class="ellipsis"><a href="#">…</a></li>
      <li class=""><a href="#" data-page="12">12</a></li>
      <li class="pager"><a href="#" data-page="4">›</a></li>
    </ul>
  </nav>
</div>
</body>
</html>