<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="dataTable-bottom">
  <div class="dataTable-info">Showing 11 to 15 of 57 entries</div>
  <nav class="dataTable-pagination">
    <ul class="dataTable-pagination-list">
      <li class="pager"><a data-page="2" href="#">‹</a></li>
      <li class=""><a data-page="1" href="#">1</a></li>
      <li class=""><a data-page="2" href="#">2</a></li>
      <li class="active"><a data-page="3" href="#">3</a></li>
      <li class=""><a data-page="4" href="#">4</a></li>
      <li class=""><a data-page="5" href="#">5</a></li>
      <li class=""><a data-page="6" href="#">6</a></li>
      <li class=""><a data-page="7" href="#">7</a></li>
      <li class="ellipsis"><a href="#">…</a></li>
      <li class=""><a data-page="12" href="#">12</a></li>
      <li class="pager"><a data-page="4" href="#">›</a></li>
    </ul>
  </nav>
</div>
</body>
</html>