.btn {
  margin-bottom: $btn-margin-bottom;
  letter-spacing: $btn-letter-spacing;
  text-transform: uppercase;
  background-size: $btn-background-size;
  background-position-x: $btn-background-position-x;
  position: relative;
  overflow: hidden;


  &:not([class*="btn-outline-"]) {
    border: 0;
  }

  &:active,
  &:active:focus,
  &:active:hover {
    box-shadow: $btn-hover-box-shadow;
    transform: $btn-active-hover-transform;
    opacity: $btn-hover-opacity;
  }

  &.bg-white {
    @include hover {
      color: $body-color;
    }
  }

  &.btn-link {
    box-shadow: none;
    font-weight: $btn-font-weight;
    color: $primary; // Cambia $primary por el color que prefieras

    &:hover,
    &:focus {
      box-shadow: none;
      color: darken($primary, 10%); // Cambia $primary por el color que prefieras
    }

    // Asegúrate de que en modo oscuro los botones sean visibles
    body.dark-version & {
      color: $white !important;

      &:hover,
      &:focus {
        color: lighten($white, 20%) !important;
      }
    }
  }
  //&.btn-close {
  //  font-size: 0.5rem;
  //  opacity: 0.5;
  //  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  //  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
  //  --bs-btn-close-color: $dark; /* Negro */
  //  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
  //}

  &.btn-round {
    border-radius: $btn-border-rounded;
  }

  // Button Just Icon

  &.btn-icon-only {
    width: $btn-just-icon-width;
    height: $btn-just-icon-height;
    padding: $btn-just-icon-padding-y $btn-just-icon-padding-x;
  }

  // Button Icon Sizes

  &.btn-sm {
    &.btn-icon-only {
      width: $btn-just-icon-width-sm;
      height: $btn-just-icon-height-sm;
      padding: $btn-just-icon-padding-y-sm $btn-just-icon-padding-x-sm;
    }

    i {
      font-size: $btn-just-icon-sm-font-size;
    }
  }

  &.btn-lg {
    &.btn-icon-only {
      width: $btn-just-icon-width-lg;
      height: $btn-just-icon-height-lg;
      padding: $btn-just-icon-padding-y-lg $btn-just-icon-padding-x-lg;
    }

    i {
      font-size: $btn-just-icon-lg-font-size;
      position: $btn-just-icon-lg-position;
      top: $btn-just-icon-lg-top;
    }
  }

  &.btn-rounded {
    border-radius: $btn-border-rounded;
  }

  .material-icons {
    vertical-align: middle;
    margin-top: $btn-material-icon-margin;
    margin-bottom: $btn-material-icon-margin;
    font-size: $btn-material-icon-font-size;
    display: $btn-material-icon-display;
    top: $btn-material-icon-top;
  }
}

.btn-check {
  &:checked {
    + .btn {
      svg {
        .color-background {
          fill: $white;
        }
      }

      &:hover {
        svg {
          .color-background {
            fill: $dark;
          }
        }
      }
    }
  }
}

.icon-move-right {
  i {
    transition: $btn-icon-transition;
  }

  &:hover,
  &:focus {
    i {
      transform: $btn-icon-transform-right;
    }
  }
}

.icon-move-left {
  i {
    transition: $btn-icon-transition;
  }

  &:hover,
  &:focus {
    i {
      transform: $btn-icon-transform-left;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color},
  .btn.bg-gradient-#{$color} {
    @include colored-shadows($value);

    @include hover {
      background-color: $value;
      border-color: $value;

      @include colored-shadows-hover($value);
    }

    .btn.bg-outline-#{$color} {
      border: $border-width solid $value;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show > &.dropdown-toggle {
      color: color-yiq($value);
      background-color: $value;
    }

    @if $value != $white and $value != $light {
      &.focus,
      &:focus {
        color: $white;
      }
    }
  }

  .btn-outline-#{$color} {
    box-shadow: none;
    @include hover {
      &:not(.active) {
        background-color: transparent;
        opacity: .75;
        box-shadow: none;
        color: $value;
      }
    }
  }
}

.btn-outline-white {
  border-color: rgba($white, .75);
  background: rgba($white, .1);
}

@each $color, $value in $btn-font-colors {
  .btn-#{$color},
  .btn.bg-gradient-#{$color} {
    color: $value;
    @include hover {
      color: $value;
    }
  }
}
