.dark-version {
  background-color: $dark-version-bg-color !important;

  .sidenav.bg-white *,
  .sidenav.bg-white .collapse .nav-item .nav-link.active i {
    color: $h-color !important;
  }

  .sidenav.bg-white .collapse .nav-item .nav-link.active .sidenav-mini-icon,
  .sidenav.bg-white .collapse .nav-item .nav-link.active .sidenav-normal {
    color: $white !important;
  }

  .sidenav.bg-transparent *,
  .sidenav.bg-transparent .collapse .nav-item .nav-link.active i {
    color: $white !important;
  }

  //.main-content {
  //  background-color: $dark-version-bg-color !important;
  //}

  &.virtual-reality {
    > div {
      background-image: none !important;
    }
  }

  .sidenav {
    background: $dark-version-sidenav-bg-color !important;

    &.bg-transparent {
      background: transparent !important;

      .navbar-nav {
        .nav-link {
          color: $white !important;
        }
      }

      .nav {
        .nav-link {
          color: $white !important;
        }
      }
    }

    &.bg-white {
      background: $white !important;

      .navbar-nav {
        .nav-link {
          &.active:after {
            color: $dark-version-caret-sidebar-color;
          }
        }
      }

      .collapse {
        .nav-item {
          .nav-link:not(.active) {
            i {
              color: $dark !important;
            }
          }

          h6 {
            color: $dark !important;
          }
        }
      }
    }

    .collapse {
      .nav-item {
        .nav-link {
          i {
            color: $white !important;
          }
        }
      }
    }

    &.bg-white {
        .nav-item {
          .nav-link {
              color: $white !important;

            &.active {
              i,
              .nav-link-text {
                color: $dark !important;
              }
            }
          }
      }
    }
  }

  .nav {
    &.bg-white {
      .nav-item {
        .nav-link {
          color: $dark-version-body-color; // Establece el color del enlace normal

          i {
            color: $dark-version-body-color; // Establece el color del icono normal
          }

          span {
            color: $dark-version-body-color; // Establece el color del texto normal
          }

          &:hover {
            color: $dark; // Establece el color del enlace al pasar el ratón
            i {
              color: $dark; // Establece el color del icono al pasar el ratón
            }
            span {
              color: $dark; // Establece el color del texto al pasar el ratón
            }
          }

          &.active {
            color: $white !important; // Establece el color del enlace activo
            i {
              color: $white !important; // Establece el color del icono activo
            }
            .nav-link-text {
              color: $white !important; // Establece el color del texto del enlace activo
            }
            span {
              color: $white !important; // Establece el color del texto activo
            }
          }
        }
      }
    }
  }

  .fixed-plugin {
    .btn {
      &.bg-gradient-dark,
      &.btn-outline-dark {
        color: $white !important;
        border: 1px solid $white !important;
      }

      &.active {
        background: $white !important;
        color: $h-color !important;
      }
    }
  }

  .bg-gradient-dark {
    background-image: linear-gradient(
                    195deg,
                    $dark-gradient-dark,
                    $dark-gradient-state-dark
    );
  }

  .dropdown {
    .dropdown-menu {
      &:before {
        color: $dark-version-card-bg-color;
      }

      .dropdown-item {
        &:hover,
        &:focus {
          background-color: $dark-version-bg-color !important;
        }

        i,
        .material-icons {
          color: $white;
        }
      }
    }
  }




  .card,
  .swal2-popup,
  .dropdown .dropdown-menu,
  .kanban-board {
    background: $dark-version-card-bg-color;
    box-shadow: $dark-version-card-box-shadow;

    .card-header {
      background: transparent;
    }

    p {
      color: $white ;
    }

    h1.titulo-contrato {
      color:  $happLight !important;
    }

    .clase {
      color: $white ;
      text-align: justify; // Ejemplo de alineación de texto, puedes cambiar esto según tus necesidades
      strong {
        color: $happLight !important;
      }
    }
  }

  .kanban-item {
    background: transparent !important;
    border: 1px solid;
  }

  .swal2-html-container {
    color: $dark-version-body-color !important;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  a:not(.dropdown-item):not(.choices__item):not(.leaflet-control-zoom-in):not(.leaflet-control-zoom-out):not(.btn):not(.nav-link):not(.fixed-plugin-button),
  .table thead tr th,
  .kanban-title-board {
    color: $dark-version-body-color !important;
  }

  .input-group {
    &.input-group-dynamic,
    &.input-group-static {
      .form-control {
        background-image: $dark-version-input-bg-image !important;
        background-size: 0 100%, 100% 100%;
        color: $white;


        &:focus {
          background-size: 100% 100%, 100% 100%;
        }
      }
    }

    &.input-group-outline {
      .form-control {
        border-color: $dark-version-border-color !important;
      }
    }

    .is-valid,
    .is-invalid {
      border-color: $dark-version-border-color !important;
    }
  }

  .accordion {
    .accordion-button {
      border-color: $dark-version-border-color !important;
      color: $white;
      opacity: 0.8;
    }
  }

  .table > :not(caption) > * > * {
    border-color: $dark-version-border-color !important;
    color: $dark-version-table-color !important;
  }

  label {
    color: $dark-version-label-color !important;
  }

  .list-group-item,
  .multisteps-form__panel {
    background-color: transparent !important;
  }

  .nav {
    &.bg-white {
      background-color: $dark-version-card-bg-color !important;
      box-shadow: $dark-version-card-box-shadow;
    }

    .nav-link[data-scroll]:hover {
      color: $h-color !important;
    }
  }

  .toast {
    background-color: $dark-version-card-bg-color !important;
    box-shadow: $dark-version-card-box-shadow;

    .toast-header {
      background: transparent;
    }

    span {
      color: $white;
    }

    p {
      color: $white !important;
      opacity: 0.6;
    }
  }

  .choices {
    .choices__inner.is-disabled {
      color: $dark-version-label-color;
    }

    .choices__inner {
      color: $white;
    }

    .choices__input {
      background-color: transparent !important;
      border-bottom: 1px solid $dark-version-border-color;
      color: $white;
    }

    .choices__list.choices__list--dropdown {
      background: $dark-version-card-bg-color;
      color: $white;
    }

    .choices__list--multiple .choices__item {
      background-color: $dark-version-card-bg-color;
      color: $white;
      border: 1px solid $dark-version-border-color;
      border-radius: 4px;
      margin: 0.2rem;
      padding: 0.2rem 0.5rem;
    }


    .choices__item.choices__item--disabled {
      color: $dark-version-label-color;
    }
  }


  // Fullcalendar changes
  .fc-theme-standard td,
  .fc-theme-standard th {
    border-color: $fc-theme-standard-dark-border-color;
  }

  // Datatable changes
  .datatable-sorter::after {
    border-bottom-color: $white;
  }

  .datatable-sorter::before {
    border-top-color: $white;
  }

  .datatable-sorter {
    color: $white;
  }

  .datatable-selector {
    color: $white;
    background-color: transparent;
  }

  .datatable-search {
    background-color: transparent;
    color: $input-color;

    input {
      background-color: transparent;
      color: $white !important;
    }

    input::placeholder {
      font-weight: $font-weight-normal;
      color: $input-placeholder-color;
    }
  }

  .datatable-pagination-list-item-link {
    color: $white !important;
    background-color: transparent;
    border: 1px solid $gray-300;
    font-size: $font-size-sm;

    &:hover {
      color: $primary !important;
      background: $dark-version-card-bg-color;
    }

    .datatable-active {
      background: transparent;
      @include gradient-directional(nth($happLight-gradient, 1) 0%, nth($happLight-gradient-state, -1) 100%, $deg: 195deg);
      box-shadow: $pagination-active-box-shadow;
      color: $white;
      border: none;
      border-radius: $page-link-radius !important;

      &:hover {
        @include gradient-directional(nth($happLight-gradient, 1) 0%, nth($happLight-gradient-state, -1) 100%, $deg: 195deg);
      }
    }
  }


  // Quill changes
  .ql-snow .ql-stroke {
    stroke: $light;
  }

  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
    fill: $light;
  }

  .ql-toolbar.ql-snow .ql-picker-label {
    color: $light;
  }


  body.dark-version {
    color: $dark-version-body-color !important;
  }

  // Estilos para el modal en modo oscuro
  .modal-content {
    background: $dark-version-card-bg-color !important;
    color: $white !important;
    box-shadow: $dark-version-card-box-shadow !important;
    border-color: $modal-content-border-color !important;
  }

  .modal-header {
    border-bottom: 1px solid $modal-content-border-color !important;
  }

  .modal-footer {
    border-top: 1px solid $modal-content-border-color !important;
  }

  .modal-backdrop {
    background-color: $modal-backdrop-bg !important;
    opacity: $modal-backdrop-opacity !important;
  }


  .dropzone{
    background-color: $dark-version-bg-color !important;
    color: $white !important;
    border-color: $dark-version-border-color !important;
  }
}