.form-select {
  transition: $input-transition;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;

  &:focus {
    border-color: $happLight;
    outline: 0;
    box-shadow: 0 7px 10px -5px rgba(177, 205, 66, 0.4);
  }
}

.form-select:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
  pointer-events: none;
}

.form-select.is-open:after {
  transform: rotate(180deg);
}


